<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SnowTriks | {% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}


    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}
</head>

<body class="font-bree bg-background2">
<header>
    <nav class="bg-secondary2 px-2 justify-between fixed bottom-0  left-0 z-50 w-full h-16 shadow-inner border-accent border-t lg:relative lg:border-0  lg:flex lg:items-center lg:py-2">
        <a href="" class="mb-3 ml-2 mr-5 mt-3 hidden lg:flex">
            <img src="{{ asset('images/logo.png') }} " style="height: 32px;width: 32px" class="inline">
        </a>
        <ul class="grid h-full grid-cols-4  lg:flex lg:items-center lg:justify-end lg:mr-10">
            <li class="inline-flex flex-col  justify-center font-medium px-2 flex">
                <a href="#h" type="button" class="inline-flex w-full flex-col lg:py-2 items-center group lg:hover:text-primary2 lg:hover:duration-500 lg:text-center lg:hover:-translate-y-1">
                    <svg class="w-5 h-5 mb-1 text-gray-500 lg:hidden" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                    </svg>
                    <span class="lg:inset-0 lg:w-full lg:h-full lg:text-center">Accueil</span>
                </a>
            </li>
            <li class="inline-flex flex-col  justify-center font-medium px-2 flex ">
                <a href="#h" type="button" class="inline-flex w-full flex-col lg:py-2 items-center group lg:hover:text-primary2 lg:hover:duration-500 lg:text-center lg:hover:-translate-y-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-5 h-5 mb-1 lg:hidden">
                        <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd"/>
                    </svg>
                    <span class="lg:inset-0 lg:w-full lg:h-full lg:text-center">Tricks</span>
                </a>
            </li>

            {#  {{ if app.user }} #}
            <li class="inline-flex flex-col  justify-center font-medium px-2 flex ">
                <a href="#c" type="button" class="inline-flex w-full lg:py-2 flex-col items-center group ">
                    <img
                            src="https://tecdn.b-cdn.net/img/new/avatars/2.jpg"
                            class="rounded-full lg:hover:-translate-y-1.5 lg:hover:shadow-lg lg:hover:duration-500 lg:hover:shadow-primary2 lg:m-1 "
                            style="height: 25px; width: 25px"
                            alt=""
                            loading="lazy"/>
                    <span class="lg:hidden">Compte</span>
                </a>
            </li>

            <li class="inline-flex flex-col  justify-center font-medium px-2 flex ">
                <a href="#h" type="button" class="inline-flex w-full flex-col lg:py-2 items-center group text-danger  ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-5 h-5 mb-1 lg:mb-0">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"/>
                    </svg>
                    <span class="lg:hidden">Déconnexion</span>
                </a>
            </li>
            {#  {{ else }}
            <li class="inline-flex flex-col  justify-center font-medium px-2 flex ">
                <a href="#h" type="button" class="inline-flex w-full flex-col items-center group lg:py-2 lg:hover:text-primary2 lg:hover:duration-500 lg:text-center lg:hover:-translate-y-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mb-1 lg:hidden ">
                            <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm5.03 4.72a.75.75 0 010 1.06l-1.72 1.72h10.94a.75.75 0 010 1.5H10.81l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06l3-3a.75.75 0 011.06 0z" clip-rule="evenodd" />
                        </svg>
                        <span class=" lg:inset-0 lg:w-full lg:h-full" >Connexion</span>
                </a>
            </li>
            <li class="inline-flex flex-col  justify-center font-medium px-2 lg:bg-primary2 lg:rounded-md lg:hover:-translate-y-1.5  lg:m-2 lg:p-2 lg:hover:shadow-lg lg:hover:duration-500 lg:hover:shadow-primary2">
                <a href="#h" type="button" class="inline-flex w-full flex-col items-center group">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mb-1 lg:hidden">
                            <path fill-rule="evenodd" d="M4.5 3.75a3 3 0 00-3 3v10.5a3 3 0 003 3h15a3 3 0 003-3V6.75a3 3 0 00-3-3h-15zm4.125 3a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zm-3.873 8.703a4.126 4.126 0 017.746 0 .75.75 0 01-.351.92 7.47 7.47 0 01-3.522.877 7.47 7.47 0 01-3.522-.877.75.75 0 01-.351-.92zM15 8.25a.75.75 0 000 1.5h3.75a.75.75 0 000-1.5H15zM14.25 12a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H15a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5h3.75a.75.75 0 000-1.5H15z" clip-rule="evenodd" />
                        </svg>
                        <span>Inscription</span>
                </a>
            </li>
             {{ endif }} #}
        </ul>
    </nav>
</header>

{% block body %}{% endblock %}
</body>
</html>
