{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
    <div>
        <section class="mx-2 lg:mt-10 mt-2 ">
            <div class="mx-auto max-w-7xl  bg-info-50">
                <div class=" w-full overflow-hidden rounded-2xl">
                    <img src="{{ trick.pictureStorage }}" alt="Un tricks"
                         class=" h-[50vw] lg:h-[34vw] w-full object-cover object-left-top ">
                    <div
                            class="absolute  left-0 right-0 top-14  overflow-hidden bg-fixed">
                        <div class="flex h-[40vw] lg:h-[34vw] items-center justify-center   ">
                            <div class=" text-center text-white backdrop-blur-sm border-0 rounded-2xl md:p-4 md:pb-5">
                                <h1 class=" text-2xl md:text-4xl xl:text-7xl lg:text-6xl font-bold text-primary2">{{ trick.name }}</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex justify-center  mt-2 flex-col px-8 text-center">
                    {% if trick.media|length > 0 %}
                    {# photo/video #}
                    <div id="voirMedia" class="inline-flex flex-col  lg:hidden justify-center font-medium px-2 bg-primary2 rounded-md lg:hover:-translate-y-1.5  lg:m-2 lg:p-2 lg:hover:shadow-lg lg:hover:duration-500 lg:hover:shadow-primary2 ">
                        <a type="button" class="inline-flex w-full flex-col items-center group">
                            <span class="text-1xl">Voir les photos et videos</span>
                        </a>
                    </div>
                        <div class=" mx-5 hidden lg:grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 mt-5 gap-x-10 gap-y-5 " id="mediaContainer">
                    {% for media in medias %}


                        {% if media.isVideo %}
                        <div class=" relative">
                            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75- h-36 ">
                                <iframe class="w-full h-full object-cover object-center lg:h-full lg:w-full" allow="fullscreen" src="{{ media.video }}">
                                </iframe>
                            </div>
                        </div>
                        {% else %}
                        <div class=" relative">
                            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75- h-36 ">
                                <img src="{{ media.picture }}" alt="{{ media.name }}"
                                     class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                            </div>
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                        {% else %}
                            <p>Il n'y a pas encore de photo ou video supplémentaire</p>
                            {% if app.user %}
                                <a href="#">Ajouter des medias</a>
                                {% endif %}
                        {% endif %}
                    </div>
                    {# text #}
                    <div class="p-5 ">
                        <p>{{ trick.description }}</p>

                    </div>
                    {# catégorie #}
                    <div class="py-5 flex-row flex justify-center items-center flex-wrap">
                        <div data-te-chip-init data-te-ripple-init
                             class="[word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-between rounded-[16px] border border-primary2 bg-[#eceff1] bg-[transparent] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:border-[#3b71ca] hover:!shadow-none dark:text-neutral-200"
                             data-te-ripple-color="dark"
                        >Ajouté le: {{ trick.createdAt|date('d/m/Y') }}
                        </div>
                        <div data-te-chip-init data-te-ripple-init
                             class="[word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-between rounded-[16px] border border-primary2 bg-[#eceff1] bg-[transparent] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:border-[#3b71ca] hover:!shadow-none dark:text-neutral-200"
                             data-te-ripple-color="dark"
                        >par : {{ trick.user.username }}
                        </div>
                        {% if trick.updatedAt %}
                        <div data-te-chip-init data-te-ripple-init
                             class="[word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-between rounded-[16px] border border-primary2 bg-[#eceff1] bg-[transparent] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:border-[#3b71ca] hover:!shadow-none dark:text-neutral-200"
                             data-te-ripple-color="dark"
                        >Modifier le: {{ trick.updatedAt|date('d/m/Y') }}
                        </div>
                        {% endif %}
                        <div data-te-chip-init data-te-ripple-init
                             class="[word-wrap: break-word] my-[5px] mr-4 flex h-[32px] cursor-pointer items-center justify-between rounded-[16px] border border-accent bg-[#eceff1] bg-[transparent] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] duration-300 ease-linear hover:border-[#3b71ca] hover:!shadow-none dark:text-neutral-200"
                             data-te-ripple-color="dark"
                        > {{ trick.categorie.name }}
                        </div>

                    </div>

                    <hr>
                    {# form commentaire #}
                    <div class="flex lg:flex-row flex-col justify-center items-center py-5">
                        {% if app.user %}
                        <div class="md:w-96">
                            <textarea id="comment" name="comment" autocomplete="username"
                                      placeholder="Votre commentaire ici" rows="4" required
                                      class=" w-full mt-2 block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-accent placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary2 sm:text-sm sm:leading-6"></textarea>
                        </div>
                        <div class=" inline-flex flex-col  justify-center font-medium px-2 bg-primary2 rounded-md lg:hover:-translate-y-1.5  lg:m-2 lg:p-2 lg:hover:shadow-lg lg:hover:duration-500 lg:hover:shadow-primary2 ">
                            <a href="#" type="button" class="inline-flex w-full flex-col items-center group">
                                <span class="text-1xl">Envoyer</span>
                            </a>
                        </div>
                        {% else %}
                            <p>Vous devez etre connecté pour commenter !</p>
                        {% endif %}
                    </div>




                    <hr>
                    {# commentaire #}
                    <div class="flex-col flex py-5 justify-center">
                        {% if trick.comments|length > 0 %}
                        {% for comment in trick.comments %}

                        <div class="flex flex-col md:flex-row justify-start rounded-xl m-2 p-2 bg-background2 {% if loop.index > 3 %}hidden{% endif %}" id="comment">
                            <div class="flex md:flex-col flex-row justify-between md:justify-center text-center items-center">
                                <img
                                        src="{{ comment.user.photoPath }}"
                                        class="md:w-24 w-10 rounded-lg shadow-lg columns-3"
                                        alt="Avatar"/>
                                <div>{{ comment.user.username }}</div>
                                <div data-te-chip-init data-te-ripple-init
                                     class="[word-wrap: break-word] my-[5px] flex h-[32px] items-center justify-around rounded-lg border border-primary2 bg-[#eceff1] bg-[transparent] px-[12px] py-0 text-[13px] font-normal normal-case leading-loose text-[#4f4f4f] shadow-none transition-[opacity] ease-linear dark:text-neutral-200"
                                     data-te-ripple-color="dark"
                                >{{ comment.createdAt|date('d/m/Y') }}</div>

                            </div>
                            <div class=" px-5 py-2 ml-4 mt-2 md:mt-0 items-center flex ">
                                <p >
                                    {{ comment.content }}
                                </p>
                            </div>

                        </div>
                        {% endfor %}
                            <section class="flex justify-center pt-5">
                                <div  id="voirPlusComment" class="inline-flex flex-col  justify-center font-medium px-2 bg-primary2 rounded-md lg:hover:-translate-y-1.5  lg:m-2 lg:p-2 lg:hover:shadow-lg lg:hover:duration-500 lg:hover:shadow-primary2 ">
                                    <a  type="button" class="inline-flex w-full flex-col items-center group">
                                        <span class="text-2xl">Voir plus de commentaire</span>
                                    </a>
                                </div>
                            </section>
                        {% else %}
                            <p>Il n'y a pas encore de commentaire</p>
                        {% endif %}

                    </div>

                </div>

            </div>
        </section>

    </div>
{% endblock %}
{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const voirPlusComment = document.getElementById("voirPlusComment");
            const hiddenElements = document.querySelectorAll("#comment");
            let startIndex = 3; // Vous pouvez ajuster le nombre initial d'éléments visibles

            voirPlusComment.addEventListener("click", function() {
                for (let i = startIndex; i < startIndex + 3 && i < hiddenElements.length; i++) {
                    hiddenElements[i].classList.remove("hidden");
                }

                startIndex += 3;

                // Masquer le bouton "Voir plus" si tous les éléments sont affichés
                if (startIndex >= hiddenElements.length) {
                    voirPlusComment.style.display = "none";
                }
            });
            const voirMedia = document.getElementById("voirMedia");
            const hiddenContainer = document.getElementById("mediaContainer");

            voirMedia.addEventListener("click", function() {
                hiddenContainer.classList.remove("hidden");
                hiddenContainer.classList.add("grid");
                voirMedia.style.display = "none";
            });


        });
    </script>
{% endblock javascripts %}


