{{ form_start(form) }}
<div class="space-y-6 xl:mx-96 lg:mx-56  mx-5  mt-5 text-center">
    <h2>Modification de mon profil</h2>

    <div class="flex items-center flex-col text-center">
        <div class="flex items-center justify-center">
            {{ form_label(form.photoPath, "Image Actuelle du compte ",  { 'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'} }) }}
        </div>
        <img src="{{ user.photoPath }}" class="md:w-56 w-36 rounded-lg shadow-lg " alt="Avatar">
    <div class="flex items-center hidden flex-col" id="divApercu">
        <label for="apercuImage" class="block text-sm font-medium leading-6 text-gray-900">
            Nouvelle image du profil
        </label>
        <img src="" id="apercuImage" class="md:w-44 w-28 rounded-lg shadow-lg">
    </div>
        <div class="mt-2">
            {{ form_widget(form.photoPath,  { 'attr': {'class': 'relative m-0 block w-full min-w-0 flex-auto rounded-md border border-solid border-accent bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-accent file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:ring-primary2 focus:text-neutral-700 '} }) }}
            <div class="text-danger">{{ form_errors(form.photoPath) }}</div>
        </div>
    </div>
    <div>
        <div class="flex items-center justify-center">
            {{ form_label(form.username, "Nom d'utilisateur",  { 'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'} }) }}
        </div>
        <div class="mt-2">
            {{ form_widget(form.username,  { 'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-accent placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary2 sm:text-sm sm:leading-6'} }) }}
            <div class="text-danger">{{ form_errors(form.username) }} </div>
        </div>
    </div>
    <div>
        <div class="flex items-center justify-center">
            {{ form_label(form.email, "Adresse email",  { 'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'} }) }}
        </div>
        <div class="mt-2">
            {{ form_widget(form.email,  { 'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-accent placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary2 sm:text-sm sm:leading-6'} }) }}
            <div class="text-danger">{{ form_errors(form.email) }}</div>
        </div>
    </div>
    <div>
        <div class="flex items-center justify-center">
            {{ form_label(form.firstName, "Prénom",  { 'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'} }) }}
        </div>
        <div class="mt-2">
            {{ form_widget(form.firstName,  { 'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-accent placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary2 sm:text-sm sm:leading-6'} }) }}
            <div class="text-danger">{{ form_errors(form.firstName) }}</div>
        </div>
    </div>
    <div>
        <div class="flex items-center justify-center">
            {{ form_label(form.lastName, "Nom de famille",  { 'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'} }) }}
        </div>
        <div class="mt-2">
            {{ form_widget(form.lastName,  { 'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-accent placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary2 sm:text-sm sm:leading-6'} }) }}
            <div class="text-danger">{{ form_errors(form.lastName) }}</div>
        </div>
    </div>

        <button class="flex w-full justify-center rounded-md bg-accent px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent lg:hover:shadow-lg lg:hover:duration-500 lg:hover:shadow-primary2 lg:hover:-translate-y-1.5">{{ button_label|default("Modifier") }}</button>
        {{ form_end(form) }}
