{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-2 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{% if app.user.id == user.id %} Mon profil {% else %}Profil de {{ user.username }}{% endif %}</h2>
        </div>

        <div class="mt-2 items-center  flex flex-col ">
            <img src="{{ user.photoPath }}" class="md:w-56 w-36 rounded-lg shadow-lg " alt="Avatar">
            <div class="flex flex-wrap justify-center">
                <p class="m-4"><span class="font-bold text-xl">Pseudo: </span>{{ user.username }}</p>
                <p class="m-4"><span class="font-bold text-xl" >Prénom: </span>{{ user.firstName }}</p>
                <p class="m-4"><span class="font-bold text-xl">Nom: </span>{{ user.lastName }}</p>
            </div>
            {% if app.user and app.user.id == user.id %}
            <div class="flex flex-wrap justify-center m-10" >
                <a  class=" m-4 p-2 font-bold bg-accent rounded-lg" href="{{ path('app_logout') }}">Me deconnecter</a>

                <a  class=" m-4 p-2 font-bold  bg-accent rounded-lg" href="{{ path('app_user_edit', {'username': user.username}) }}">modifier mes information</a>

                {% endif %}

                <a class=" m-4 p-2 font-bold  bg-accent rounded-lg" href="{{ path('app_default') }}" class="font-semibold text-indigo-600 hover:text-indigo-500"> Retour
                    a
                    l'accueil</a>
            </div>
        </div>
    </div>

    <div class="text-sm flex flex-col items-center mt-4">

    </div>



{% endblock %}
